---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1 class="title">Planetary Playing Cards</h1>

<main>
    <div class="cards">
        <div class="card Sun">
            <div class="planetDetails">
                <div class="planetImage" id="Sun"></div>
                <h2>Sun</h2>
                <p>Type:GV2</p>
            </div>
        </div>

        <div class="card Mercury">
            <div class="planetDetails">
                <div class="planetImage" id="Mercury"></div>
                <h2>Mercury</h2>
                <p>AU Distance: __</p>
            </div>
        </div>
        <div class="card Venus">
            <div class="planetDetails">
                <div class="planetImage" id="Venus"></div>
                <h2>Venus</h2>
                <p>AU Distance: __</p>
            </div>
        </div>

        <div class="card Earth">
            <div class="planetDetails">
                <div class="planetImage" id="Earth"></div>
                <h2>Earth</h2>
                <p>AU Distance: __</p>
            </div>
        </div>

        <div class="card Mars">
            <div class="planetDetails">
                <div class="planetImage" id="Mars"></div>
                <h2>Mars</h2>
                <p>AU Distance: __</p>
            </div>
        </div>

        <div class="card Jupiter">
            <div class="planetDetails">
                <div class="planetImage" id="Jupiter"></div>
                <h2>Jupiter</h2>
                <p>AU Distance: __</p>
            </div>
        </div>

        <div class="card Saturn">
            <div class="planetDetails">
                <div class="planetImage" id="Saturn"></div>
                <h2>Saturn</h2>
                <p>AU Distance: __</p>
            </div>
        </div>

        <div class="card Uranus">
            <div class="planetDetails">
                <div class="planetImage" id="Uranus"></div>
                <h2>Uranus</h2>
                <p>AU Distance: __</p>
            </div>
        </div>

        <div class="card Neptune">
            <div class="planetDetails">
                <div class="planetImage" id="Neptune"></div>
                <h2>Neptune</h2>
                <p>AU Distance: __</p>
            </div>
        </div>
    </div>

</main>
