---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1 class="title">Planetary Playing Cards</h1>

<main>
    <div class="cards">
        <div class="card Sun">
            <div class="planetImage" id="Sun"></div>
            <div class="planetDetails">
                <h2>Sun</h2>
                <p>Type:GV2</p>
            </div>
        </div>

        <div class="card Mercury">
            <div class="planetImage" id="Mercury"></div>
            <div class="planetDetails">
                <h2>Mercury</h2>
                <p>AU Distance: 0.39 AU .</p>
            </div>
        </div>
        <div class="card Venus">
            <div class="planetImage" id="Venus"></div>
            <div class="planetDetails">
                <h2>Venus</h2>
                <p>AU Distance: 0.72 AU .</p>
            </div>
        </div>

        <div class="card Earth">
            <div class="planetImage" id="Earth"></div>
            <div class="planetDetails">
                <h2>Earth</h2>
                <p>AU Distance: 1.00 AU</p>
            </div>
        </div>

        <div class="card Mars">
            <div class="planetImage" id="Mars"></div>
            <div class="planetDetails">
                <h2>Mars</h2>
                <p>AU Distance: 1.52 AU</p>
            </div>
        </div>

        <div class="card Jupiter">
            <div class="planetImage" id="Jupiter"></div>
            <div class="planetDetails">
                <h2>Jupiter</h2>
                <p>AU Distance: 5.20 AU</p>
            </div>
        </div>

        <div class="card Saturn">
            <div class="planetImage" id="Saturn"></div>
            <div class="planetDetails">
                <h2>Saturn</h2>
                <p>AU Distance: 9.54 AU</p>
            </div>
        </div>

        <div class="card Uranus">
            <div class="planetImage" id="Uranus"></div>
            <div class="planetDetails">
                <h2>Uranus</h2>
                <p>AU Distance: 19.22 AU</p>
            </div>
        </div>

        <div class="card Neptune">
            <div class="planetImage" id="Neptune"></div>
            <div class="planetDetails">
                <h2>Neptune</h2>
                <p>AU Distance: 30.06 AU</p>
            </div>
        </div>
    

</main>
