---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1 class="title">Planetary Playing Cards</h1>

<main>
    <div class="card Sun"></div>
    <div class="card Mercury"></div>
    <div class="card Venus"></div>
    <div class="card Earth"></div>
    <div class="card Mars"></div>
    <div class="card Jupiter"></div>
    <div class="card Saturn"></div>
    <div class="card Uranus"></div>
    <div class="card Neptune"></div>
</main>
